body{background-image: linear-gradient(180deg, black, black);}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1{color: yellow;
	font-family: courier new;
	text-align:center;
}
h2{color: white;
	font-family: times new roman;
	text-align: center;
}
p{color: white;
	font-family: times new roman;
	padding: 30px;
	text-align: center;
	background-color: black;
	box-shadow: 4px 0 2px -2px rgba(0,0,0,0.4);
	font-size: 14px;
}
